language: cpp
dist: bionic
osx_image: xcode11.3
sudo: required
os:
    - linux
    - osx

compiler:
    - gcc
    - clang

script:
    - git submodule update --init --recursive
    - cmake -H. -BBuild
    - cmake --build Build
