language: cpp

cache:
    directories:
        - ${TRAVIS_BUILD_DIRECTORY}/Build/Engine/ThirdParty

dist: bionic
osx_image: xcode11.3
os:
    - linux
    - osx

compiler:
    - gcc
    - clang

script:
    - git submodule update --init --recursive
    - cmake -H. -BBuild
    - cmake --build Build
